/* =============================================================================
   BASE LAYOUT
   Layout utilities and structures
   ============================================================================= */

body {
  background-color: var(--color-surface);
  margin:0;
  padding:0;
}
#main {
  display: grid;
  gap: var(--space-sm);

  max-width: var(--layout-max-width);
  padding: var(--layout-gutter);
}
header {
  /* padding: var(--space-lg) var(--space-md); */
  text-align: center;
  padding: var(--space-sm);
}

header.site-title-inline {}

/* .flow {
  display: grid;
  gap: 1em;
} */

footer {
  padding: var(--space-lg) var(--space-md);
  text-align: center;
  border-top: 1px solid var(--color-border);
}