{% macro renderTree(items, currentUrl, maxDepth, currentDepth) %}
{% set currentDepth = currentDepth or 1 %}
<ul class="nav nav-depth-{{ currentDepth }}">
  {% for item in items %}
  <li{% if currentUrl == item.url %} class="current-page"{% endif %}>
    {% if item.url %}
    <a href="{{ item.url }}">{{ item.title }}</a>
    {% else %}
    <span>{{ item.slug }}</span>
    {% endif %}
    {% if item.children.length and currentDepth < maxDepth %}
      {{ renderTree(item.children, currentUrl, maxDepth, currentDepth + 1) }}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endmacro %}

<nav aria-label="Main Navigation">
  {{ renderTree(collections.pageTree, page.url, 1) }}
</nav>