---
layout: base
---

<header class="site-title-inline">
  <p class="site-title"><a href="/">{{ site.name }}</a></p>
  {% include "nav.njk" %}
</header>
<main id="main" class="flow">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</main>
<footer>
  <p>© {{ site.author }}</p>
</footer>
