/* =============================================================================
   COLOR PRIMITIVES
   ========================================================================== */

:root {
  --color-primitive-night: #0f3966;
  --color-primitive-midnight: #0a1a2b;
  --color-primitive-darkestnight: #100900;
  --color-primitive-waterblue: #3375fb;
  --color-primitive-warmwhite: #faf8f4;
  --color-primitive-amberglow: #e8a430;
  --color-primitive-eveningsun: #77420a;
  --color-primitive-goldenhour: #e8c87a;
  --color-primitive-dawn: #e9d5d3;
  --color-primitive-dusk: #d4dcec;
}

/* =============================================================================
   COLOR SEMANTIC
   ========================================================================== */

:root {
  --color-surface: var(--color-primitive-warmwhite);
  --color-text: var(--color-primitive-midnight);
  --color-text-light: var(--color-primitive-dawn);
  --color-interactive: var(--color-primitive-waterblue);
  --color-border: var(--color-primitive-night);
  --color-decor: var(--color-primitive-goldenhour);
}

/* =============================================================================
   COLOR COMPONENT SLOTS
   ========================================================================== */

:root {
  /* Add specific component slots here */
}