nav {
  --link-color: var(--color-primitive-night);
}

nav ul {
  list-style: none;

  display: flex;
  justify-content: flex-end;

  gap: var(--space-sm);
}

nav ul li {
  margin:0;padding:0;
}

nav a {
  position: relative;
  text-decoration: none;
}
nav a:hover,
nav a:active,
nav a:focus {
}

.current-page a {
  text-decoration-color: red;
}

/* nav a::before {
  content: '';
  position:absolute;
  z-index: -1;

  transform-origin: center;

  border-radius: 100%;

  width: 6px;
  height: 6px;

  left: 50%;
  bottom: -2px;

  background: currentColor;

  transition:
    width var(--duration-ui) var(--ease-default),
    height var(--duration-ui) var(--ease-default),
    left var(--duration-ui) var(--ease-default),
    border-radius var(--duration-fast) var(--ease-default);
} */
/* nav a:hover::before,
nav a:active::before,
nav a:focus::before {
  border-radius: 0;

  width: 100%;
  height: 3px;

  left: 0;
} */