---
title: About
layout: page
---

<h2>Who we are and our Goal</h2>
<p>We are a lay community of followers of Jesus—-Protestant, Roman Catholic, and Messianic Jew--living out John 17 through prayer, formation, reconciliation, hospitality, and work</p>

<figure>
  <blockquote>
    <p>I pray also for whoever will believe in me through their message, so that they all will be one, Father, just as you are in me and I am in you.</p><p>May they also be one in us so that this world will believe that you sent me into this world.</p>
  </blockquote>
  <figcaption class="source">— Jesus in John 17</figcaption>
</figure>

<h2>Who can participate and how?</h2>

<p>Anyone? People who believe in and/or follow Jesus? Literally anyone can participate without becoming a member?</p>
<p>Not a cult--you always have to stay involved in your real local community?</p>

<h3>The Rule and living out John 17</h3>
<p>Here's an opportunity to <a href="#">link to the statement</a>.</p>
<p>Here's also an opportunity to talk again about <a href="/practices/">Practices</a>, and maybe list them all again.</p>

<h2>Theological Commitments</h2>
<p>in the bounds of orthodox christianity, but slimly defined</p>
<p>hogan: get rid of the creed on the website??? thomas says no. hogan says just mention the creed.</p>
<p>Here, too, we link to <a href="#">Core Beliefs</a>.</p>

<h2>Physical Reality</h2>
<p>Although anyone can participate from anywhere, CTR also exists in a specific place as a lived-together community.</p>
<p>Here we can link to <a href="#">Future Plans</a>, <a href="#">Facilities</a>, and probably Ecology is part of this in some way?</p>

<h2>Leadership & Governance</h2>