---
title: Formation
layout: page
description: 'Formation is at the center of living out John 17. Jesus prays in verse 3, “And this is eternal life, that they would know you, Father, and Jesus Christ whom you have sent.” Has there ever been a more profound statement of formation? We are not called to accept Jesus and then wait for heaven. We are called to enter into “the eternal kind of life” now! And how do we do that? By knowing Jesus, and knowing God the Father, through the Holy Spirit.'
---

<p>{{ description }}</p>
<p>Formation is expressed in many ways at Christ the Reconciler.</p>
<p>The primary expression is regular retreats. We gather on a Saturday and worship together. Then we ask the teachers and preachers in our midst to speak to us. We listen, and reflect - sometimes individually, sometimes in small groups, sometimes as a large group. We share a meal. We provide opportunities for our children to grow in Christ - their formation is perhaps more important than that of the adults. See the calendar for our schedule of upcoming retreats.</p>
<p>In addition to our “in-house” teachers, we have been blessed with many wonderful guest teachers - George & Hanna Miley, Fr. Peter Hocken, Marianna Gol, Richard Harvey, Mark Kinzer, Andrew Jackson, Steve Hawthorne, and many more. We are working to make accessible to all a library of teachings from throughout the years.</p>
<p>We also have a library of books that can be checked out, read, and returned.</p>
<p>We strive to grow individually, by “spending time with Jesus to learn from Jesus how to live like Jesus” (thank you Dallas Willard for this wonderfully concise image of spiritual formation.)</p>
<p>And we help each other, through phone calls, walks, extended times of healing prayer, and countless other ways of encouragement and consolation.</p>
