---
title: Hospitality
layout: page
description: Hospitality is another aspect of living out John  17.  In verse 24, Jesus prays to the Father about us:  “Father, I desire that those also whom you have given me be with me where I am …”  This is of course an echo of John 14:2-3, “My Father’s house has many rooms ... And if I go and prepare a place for you, I will come back and take you to be with me that you also may be where I am.”  Have you ever felt a cold welcome from someone, who is tolerating your presence but doesn’t really want you there?  Jesus is not like that!  Not only does he prepare a room for us, he actually desires us to be with him!  That is the kind of hospitality we want to offer.
---

<p>{{ description }}</p>

<p>Concretely, this means guests are welcome at Christ the Reconciler. Come and visit, whether for an hour, a day, an Open Table, a retreat, or an extended stay.  We have a beautiful guest room, the George & Hanna Miley Suite, that is always set aside for visitors.  If you would like to come, please contact us.  You can also see the calendar for our schedule of Open Tables and Retreats.  We look forward to seeing you!</p>