---
title: Practices
layout: page
description: 'We have five main practices: prayer, reconciliation, formation, hospitality, and work.'
---

<h2>Who we are, What we do, a Way of Life</h2>

<p>We have five main practices: prayer, reconciliation, formation, hospitality, and work.</p>

<div class="cards">
  {% for practice in collections.practices %}
    <a class="card" href="{{ practice.url }}">
      <div>
        <h3>
          {{ practice.data.title }}
        </h3>
        <p>
          {{ practice.data.description }}
        </p>
        <div>
          <span class="btn" data-href="{{ practice.url }}">
            Read more about {{ practice.data.title }}
          </span>
        </div>
      </div>
    </a>
  {% endfor %}
</div>