---
title: Prayer
layout: page
description: 'One aspect of living out John 17 is prayer. This is powerfully expressed in John 17:1, where Jesus, after all the events and teachings of the Upper Room, knows it is not enough - so he “turns His face to heaven” and prays to His Father. Should we not do the same?'
---

<p>{{ description }}</p>

<p>There are a number of different ways we pray together. Bridge Prayer, Daily Prayer</p>

<h2>Bridge Prayer</h2>
<p>We believe united, continuous prayer is effective in moving the heart of our Father. We love to meet with God in the prayer room!</p>

<p>We have developed a prayer model called Bridge Prayer. We named it this, because it bridges across Catholic & Protestant forms of prayer. Bridge Prayer forms the morning - noon - evening rhythm of prayer at Christ the Reconciler.</p>

<p>20 Minutes</p>

<p>Every Bridge Prayer lasts 20 minutes, and is divided up into four 5-minute segments:</p>

<ul>
  <li>Silence</li>
  <li>Praise / worship</li>
  <li>Prayer</li>
  <li>Prayer / worship / free-form</li>
  <li>8 Seasons</li>
</ul>

<p>The Bridge Prayer book changes eight times a year, mostly (but not completely) following the traditional liturgical seasons. For each of our seasons, we have a theme identified to pray into:</p>

<ul>
  <li>Advent &mdash; Longing for the Messiah to come</li>
  <li>Christmas &mdash; The Joy of Longing Fulfilled</li>
  <li>Israel &mdash; Grafted Into the People of God</li>
  <li>Lent &mdash; The Joy of Repentance</li>
  <li>Easter &mdash; Jesus Our Bridegroom King</li>
  <li>Pentecost &mdash; Global Evangelism and Revival</li>
  <li>Reconciliation & Unity &mdash; Entering into the Unity of the Trinity</li>
  <li>Thanksgiving &mdash; God's Abundant Provision & Protection</li>
  <li>3 Leaders</li>
</ul>

<p>Every Bridge Prayer session is led by a team of three* people.</p>

<ul>
  <li>Bell Ringer &mdash; The Bell Ringer rings the outside bell to call everyone to prayer, then every five minutes rings the small bell inside the prayer room to keep the sessions focused and on time. Children like this role!</li>
  <li>Prayer Leader &mdash; The Prayer Leader prays from the written liturgy found in the prayer book, and also chooses spontaneous prayers.</li>
  <li>Musician &mdash; The Musician leads the room by singing, usually while playing an instrument of their choice.</li>
</ul>

<p>*Well ... sometimes the Prayer Leader is also the Bell Ringer.</p>

<p>Biblical Prayers</p>

<p>Every Bridge Prayer session focuses on one passage of the Bible. Three times, everyone in the room prays the passage together. There are also opportunities to respond in song and pray spontaneously on the theme of the passage.</p>

<p>Collects</p>

<p>A Collect is prayed by the Prayer Leader at the beginning and end of Bridge Prayer. These are short, crafted prayers drawn from various Christian traditions. (Note that “Collect” is pronounced with the stress on the first syllable, like the word “frolic”)</p>
