---
title: Reconciliation
layout: page
description: 'An important part of living out John 17 is the ministry of reconciliation.  Jesus first prays for his Jewish disciples, that they would be united - knowing of course that they shortly be scattered and divided.  Then Jesus prays for all “who believe in me through their message” (that&rsquo;s you and me!), that we would be united in the same way that the Father and the Son are united.  This is an astounding prayer.  It can never be answered without the ministry of reconciliation.''
---

<p>{{ description }}</p>

<p>During 2015, the Lord gave us a foundational understanding of reconciliation, that we will be working to live out as a community going forward.  Here is our definition of reconciliation:</p>

<blockquote>
    <p>Reconciliation is a series of actions that<br>
  removes hostility in a relationship,<br>
   repairs the damage it caused,<br>
       and restores the God-intended unity.<br>
    </p>
</blockquote>

<p>We developed this definition in a 7-part series called Foundations of Reconciliation.  This page contains the key points from that series, with links to the teachings if you are interested in going into more depth.</p>

<ol>
    <li>We are invited into the unity of the Trinity</li>
    <li>
Our relationships with God and with each other are typically characterized not by unity, but by hostility
    </li>
    <li>
        Reconciliation is a series of actions to remove hostility from a relationship, repair the damage it has done, and restore the God-intended unity.
    </li>
    <li>
There are three primary arenas of hostility, and thus of reconciliation:
<ul>
    <li>
            Between God & man

    </li>
    <li>
            Between husband & wife

    </li>
    <li>
            Between brother & brother, or sister & sister

    </li>
</ul>
    </li>
    <li>
The 3rd Arena, brother-to-brother, is not only person-to-person.  It also encompasses hostility and reconciliation between groups - different races, cultures, and historic streams of the body of Christ.
    </li>
    <li>Christ the Reconciler is called to pray and work for reconciliation in this 3rd arena, especially between Protestants and Roman Catholics.  This does not mean we are not involved in other arenas of reconciliation.  We must continually work for reconciliation between people and God, and also in marriages.  But our focus is on Protestant/Catholic reconciliation.</li>
    <li>Reconciliation is not theoretical.  It is a series of actions.  The actions of reconciliation can be summarized in this picture of the cross:</li>
</ol>
