---
title: Work
layout: page
description: 'In John 17 verse 4, Jesus reflects on His Ministry, tellign us work is good.'
---

<p>{{ description }}</p>
<p>Perhaps the most profound statement ever made about work appears in John 17. Jesus is reporting to His Father about His ministry. In verse 4, he says, &ldquo;I brought you glory on the earth by completing the work that you gave me to do.&rdquo; From this, we learn that&colon;</p>
<ul>
  <li>Work is given to us by our Father. It is a gift, not a burden.</li>
  <li>Our Father doesn&apos;t give us unending work. He give us completeable tasks.</li>
  <li>Completing the tasks that our Father gives us brings Him glory on the earth.</li>
</ul>
