.site-title {
  font-size: var(--type-2xl);
  font-family: var(--font-special);
  color: var(--color-text-special);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--letterspacing-tight);
}
